@media screen and(min-width :481px) {
    .hero{
        width: 20vw;
        height: 20vw;
    }
    
}
.hero{
    background-image: url("..//Imagens/Homenew.png");
    background-size: cover;
    height: 100%;
 
}