
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background-color: #ececec;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*nav{
    width: 100%;
    height: 75px;
}*/
nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    position: fixed;
}
nav a:hover{
    color: rgb(230, 18, 117);
}
nav ul{
    display: flex;
  
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 1%;
}
h1{
    color: aliceblue;
}
nav li{
    margin: 0 100px;
    
}
@media screen and (max-width: 550px){
    nav li{
        margin: 0 8px;
    }
    nav a{
        font-size: 15px;
    }
    nav ul{
        margin: 0 8px;
    }
    
    }
    @media screen and (max-width:768px) {
        body {
          overflow-x: hidden;
        }
    }
    @media screen and (max-width:768px) {
       div {
         overflow: hidden;
        }
      }
    


p{
    color: #fff;
}





#home,#benefits,#plano,#contato,#modalidades,#contato{
    color: white;
}
div p{
    color: black;
   
}




