.notícia{
   
    background-image: url("../Imagens/5f.png");
    background-size: cover;
    height: 100%;
 }
 .map{
   position: relative;
   left: 40%;
   top: 40%;
 }
 .contato{
    
     background-image: url("../Imagens/6new.png");
     background-size: cover;
     height: 100%;
 }
 .Soc-Icon{
    height: 100px;
    width: 100px;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    text-decoration: none;
    font-size: 2rem;
    box-sizing: 1,2rem;
    box-shadow: 0 4px 4px black;
    transition: 1s;
}
#tiktok{
    color: black;
}

.Soc-Icon:hover{
    background-color:rgb(201, 113, 113);
    /*transform: translateY(-15%);para fazer ele sube um pouco*/
}
.firstpart a{
    color:rgb(148, 60, 60);
    font-size: 100px;
    margin-top: 36%;
    

   
    
   
}
.firstpart{
    display: flex;
    gap: 20%;
    
}